{{!> Layout}}

{{#with email}}
<h1>Hello, {{recipient.displayName}}</h1>

<p>
    <i>{{applicant}}</i> requested approval for the <i>{{sectionName}}</i> section of their project proposal <i>{{proposalTitle}}</i>.
</p>
{{/with}}