.dockerignore
.env
.git
.gitignore
.gitattributes
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
wait-for-it.sh
*.sln
*.crt
*.DotSettings.user
*.user

**/Dockerfile
**/Dockerfile.*
**/*.min.css
**/*.min.js

**/bin
**/obj

# Workaround: Font Awesome 5 is not in any supported CDNs
Dccn.ProjectForm/wwwroot/lib
!Dccn.ProjectForm/wwwroot/lib/fontawesome/**

Dccn.ProjectForm.Tests