@using Microsoft.Extensions.Localization
@model Models.PaymentSectionModel
@inject IStringLocalizer Localizer;

<div class="form-row">
    <div class="col-md form-group">
        <label asp-for="SubjectCount"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-hashtag"></i>
                </div>
            </div>
            <input asp-for="SubjectCount" id="cost-subjects" class="form-control" data-submit-on="change">
            <small asp-description-for="SubjectCount"></small>
        </div>
    </div>
    <div class="col-md form-group">
        <label asp-for="AverageSubjectCost"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-euro-sign"></i>
                </div>
            </div>
            <input asp-for="AverageSubjectCost" id="cost-average" class="form-control" data-submit-on="change">
            <small asp-description-for="AverageSubjectCost"></small>
        </div>
    </div>
    <div class="col-md form-group">
        <label>@Localizer["Form.Payment.PredictedCosts.Label"]</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-euro-sign"></i>
                </div>
            </div>
            <input id="cost-predicted" class="form-control" disabled>
            <small class="form-text text-muted">@Html.Raw(Localizer["Form.Payment.PredictedCosts.Description"])</small>
        </div>
    </div>
    <div class="col-md form-group">
        <label asp-for="MaxTotalCost"></label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-euro-sign"></i>
                </div>
            </div>
            <input asp-for="MaxTotalCost" id="cost-max-total" class="form-control" data-submit-on="change">
            <small asp-description-for="MaxTotalCost"></small>
        </div>
    </div>
</div>
