@model Models.SubmissionSectionModel

@{
    var required = Model.NeedsApprovalBy.OrderBy(approval => approval.SectionName).ToList();
    if (required.Any())
    {
        var last = required.Last();
        <p>
            Before you can submit the proposal for final approval by the director, you will first need to get approval for the following form sections:

            @foreach (var approval in required.SkipLast(1))
            {
                <a asp-fragment="@(approval.SectionId)">@Html.DisplayFor(_ => approval.SectionName)</a>@:,
            }
            <a asp-fragment="@(last.SectionId)">@Html.DisplayFor(_ => last.SectionName)</a>.
        </p>
    }
    else
    {
        <p>
            All other sections have been approved and your proposal can be submitted for final approval by the director.
        </p>
    }
}