:root {
    --navbar-padding: 54px;
    --donders-dark-red: #8E0000;
    --donders-ru-red: #BE311A;
    --donders-bright-red: #FF0000;
}

html {
    font-size: 14px;
}

/* body { */
/*     padding-top: var(--navbar-padding); */
/* } */

/* html, */
/* body, */
/* #content { */
/*     height: 100%; */
/* } */

/* #content { */
/*     padding-top: var(--navbar-padding); */
/* } */

#ie-warning {
    height: 100px;
}

/* Donders logo */
.donders-brand {
    display: inline-block;
    font-size: 2em;
    width: .875em;
    vertical-align: -.250em;
}

/* Login */
.form-login {
    max-width: 300px;
}

.form-login .form-control {
    position: relative;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login .form-username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login .form-password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* ***** */

.algolia-autocomplete {
    width: 100%;
}

.algolia-autocomplete .aa-input,
.algolia-autocomplete .aa-hint {
    width: 100%;
}

.algolia-autocomplete .aa-hint {
    color: #999;
}

.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}



.section-header {
    background: linear-gradient(to bottom, #8e0000 0, #8e0000 70%, #be311a 70%, #be311a 92%, #ff0000 92%, #ff0000 100%);
    /* background: linear-gradient(to bottom, #8e0000 0, #be311a 70%, #ff0000 100%); */
    color: var(--white);
}

/* .custom-radio .custom-control-input:checked ~ .custom-control-label::before { */
/*     background-color: var(--donders-ru-red); */
/* } */

div.validation-message {
    pointer-events: none;
    z-index: 5;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: .1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #fff;
    background-color: #DC3545;
    background-color: rgba(220, 53, 69, 0.7);
    border-radius: 0.25rem;
}

/* ReSharper disable once Html.AttributeNotResolved */
div.validation-message[x-out-of-boundaries] {
    visibility: hidden;
}

.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* #form-view { */
/*     position: relative; */
/*     overflow: auto; */
/*     height: calc(100vh - var(--navbar-padding) - 2rem); */
/* } */

.input-group-prepend > select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px;
    z-index: 1;
}

.input-group > span.algolia-autocomplete {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group > span.algolia-autocomplete > .aa-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#section-nav .list-group-item-action:not(.active) {
    color: #999999;
    color: rgba(255, 255, 255, 0.5);
}