@page "{proposalId:int}"
@model FormModel

@{
    ViewData["Title"] = $"Project proposal: {Model.General.Title}";
}

<div class="card">
    <div id="form-view" class="card-body">
        @foreach (var section in Model.Sections)
        {
            @await Html.PartialAsync("Shared/_Section", new ViewDataDictionary(ViewData)
            {
                {"Section", section}
            })
        }
    </div>
</div>

<form asp-page-handler="Reject">
    <div id="confirm-reject-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to reject this section? An e-mail with the reason of rejection will be sent to the applicant.</p>
                    <hr>
                    <div class="form-group">
                        <label asp-for="RejectSection.Reason"></label> <small class="text-danger">(required)</small>
                        <textarea asp-for="RejectSection.Reason" class="form-control" rows="3"></textarea>
                        <small asp-description-for="RejectSection.Reason"></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" type="submit">
                        <i class="far fa-thumbs-down"></i> Reject
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input asp-for="Timestamp" class="timestamp" type="hidden">
    <input asp-for="RejectSection.Role" id="confirm-reject-dialog-role" type="hidden">
</form>

<form asp-page-handler="Approve">
    <div id="confirm-approve-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to approve this section? An e-mail with an optional remark will be sent to the applicant.</p>
                    <hr>
                    <div class="form-group">
                        <label asp-for="ApproveSection.Remarks"></label> <small class="text-muted">(optional)</small>
                        <textarea asp-for="ApproveSection.Remarks" class="form-control" rows="3"></textarea>
                        <small asp-description-for="ApproveSection.Remarks"></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" type="submit">
                        <i class="far fa-thumbs-up"></i> Approve
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input asp-for="Timestamp" class="timestamp" type="hidden">
    <input asp-for="ApproveSection.Role" id="confirm-approve-dialog-role" type="hidden">
</form>

<form asp-page-handler="Submit">
    <div id="confirm-submit-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to submit this section for approval? An e-mail with a request for approval will be sent to the responsible person/people.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <input asp-for="Timestamp" class="timestamp" type="hidden">
    <input asp-for="SubmitSection.Section" id="confirm-submit-dialog-section" type="hidden">
</form>

<form asp-page-handler="Retract">
    <div id="confirm-retract-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to retract this section? If the section was already approved, you will have to ask for approval again once you are done making changes.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" type="submit">Retract</button>
                </div>
            </div>
        </div>
    </div>
    <input asp-for="Timestamp" class="timestamp" type="hidden">
    <input asp-for="RetractSection.Section" id="confirm-retract-dialog-section" type="hidden">
</form>

<script id="form-info" type="application/json">
    @Json.Serialize(new
    {
        Model.ProposalId,
        Model.Timestamp
    })
</script>

@section Sidebar {
    @await Html.PartialAsync("Shared/_SectionNav")
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/form.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/form.min.js"></script>
    </environment>
}